<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clxns.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".CollectionsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clxns">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.history.HistoryDetailsActivity"
            android:exported="true" />

        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.casestatus.checkin.CheckInActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.casestatus.paymentcollection.PaymentCollectionActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.casestatus.repossesions.AssetRepossessionActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.casestatus.repossesions.map.RepossesionMapActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.casestatus.repossesions.RepossessionsSubmitActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.main.cases.casedetails.DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.main.account.changePassword.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.clxns.app.ui.login.forgotPassword.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>